* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: aquamarine;
}

.App {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 50px;
}

.Container {
  margin-bottom: 50px;
  padding: 50px;
  border-radius: 25px;
  box-shadow: 15px 17px 33px 0px black;
  cursor: pointer;
  max-width: 400px;
  width: 100%;
  height: 300px;
  text-align: center;
}

.Container:hover {
  background-color: black;
  transform: translateY(50px);
  color: white;
  transition: 1s;
}
ul {
  margin-top: 30px;
}
li{
  text-align: left;
  font-size: 22px;
}
/* 

.SobreMi {
  background-color: rgb(19, 231, 19);
}

.MisHobbies {
  background-color: rgb(223, 47, 11);
}

.TiempoLibre {
  background-color: rgb(0, 187, 255);
}

.MiComida {
  background-color: rgb(236, 169, 169);
}

.MiStack {
  background-color: yellow;
} */